{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Page Title-->
<div class="page section-header text-center">
    <div class="page-title">
        <div class="wrapper">
            <h1 class="page-width">Shopping Cart</h1>
        </div>
    </div>
</div>
<!--End Page Title-->

<div class="container">
    <div class="row">
        <div class="col-6 col-sm-12 col-md-6 col-lg-6 main-col">
            <div class="alert alert-success text-uppercase" role="alert">
                &nbsp;<strong>Profile</strong>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <label for="">First Name</label>
                    <input type="text" name="first" id="" value="{{request.user.first_name}}">
                </div>
                <div class="col-6">
                    <label for="">Last Name</label>
                    <input type="text" name="last" id="" value="{{request.user.last_name}}">
                </div>
                <div class="col-12 mt-2">
                    <label for="">Username</label>
                    <input type="text" name="username" id="" value="{{request.user.username}}">
                </div>
                
                <div class="col-12 mt-2">
                    <label for="">Email</label>
                    <input type="text" name="email" id="" value="{{request.user.email}}">
                </div>
                
                <div class="col-6 mt-2">
                    <a href="#" class="btn">Update Profile</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-12 col-md-6 col-lg-6 main-col">
            <div class="alert alert-success text-uppercase" role="alert">
                &nbsp;<strong>Recent</strong> Invoice Lists
            </div>
            <form action="#" method="post" class="cart style2">
                <table>
                    <thead class="cart__row cart__header">
                        <tr>

                            <th class="text-center">Invoice No</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Amount</th>
                            <th class="text-right">View</th>
                            <!-- <th class="action">&nbsp;</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in inv %}

                        <tr class="cart__row border-bottom line1 cart-flex border-top">
                            <td class="cart__image-wrapper cart-flex-item">
                                <a href="#">{{p.cart.id}}</a>
                            </td>
                            <td class="cart__meta small--text-left cart-flex-item">
                                <div class="list-view-item__title">
                                    <a href="#">{{p.created_at}} </a>
                                </div>


                            </td>
                            <td class="cart__price-wrapper cart-flex-item">
                                <span class="money">{{p.cart.total}}</span>
                            </td>
                            <td class="cart__update-wrapper cart-flex-item text-right">
                                <a href="#" class="btn btn--small">details</a>
                            </td>

                            <!-- <td class="text-center small--hide"><a href="#" class="btn btn--secondary cart__remove" title="Remove tem"><i class="icon icon anm anm-times-l"></i></a></td> -->
                        </tr>
                        {% endfor %}


                    </tbody>
                    <tfoot>
                        <!-- <tr id="cartviewfooter">
                            <td colspan="3" class="text-left"><a href="/" class="btn btn-secondary btn--small cart-continue">Continue shopping</a></td>
                            <td colspan="3" class="text-right">
                                <button type="button" name="clear" class="btn btn-secondary btn--small  small--hide clearcartbtn">Clear Cart</button>
                                <button type="button" name="update" class="btn btn-outline-success ml-2">Accept Order</button>
                            </td>
                        </tr> -->
                    </tfoot>
                </table>
            </form>
        </div>




    </div>
</div>



{% endblock content %}